/* Adjusted Navbar Styles */
.navbar {
    height: 80px; /* Set a height for the navbar */
    background-color: #282828; /* Dark gray background color */
}

/* Resized Brand Logo */
.brand-logo img {
    height: 50px; /* Adjust the size of the logo */
    margin-top: 5px; /* Position the logo with top margin */
}

/* Styled Home Link */
.home-link {
    color: gold !important; /* Gold text color for the home link */
    font-size: 23px !important; /* Larger font size for visibility */
    transition: 0.3s; /* Smooth transition effect */
    cursor: pointer; /* Change cursor to pointer */
    margin-left: -10px; /* Adjust left margin */
    margin-top: 5px; /* Move the link downward */
}

.home-link:hover {
    font-size: 25px !important; /* Enlarge font size on hover */
    color: white !important; /* White text color on hover */
}

/* Custom Search Form Layout */
.custom-search-form {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
}

/* Styled Search Input */
.custom-search-input {
    height: 40px; /* Set input height */
    width: 400px !important; /* Adjust input width */
    padding: 0.4rem 0.75rem; /* Padding inside the input */
    margin-right: 10px; /* Add spacing */
    font-size: 15px; /* Text size */
    color: gold; /* Text color */
    border-color: gold; /* Border color */
}

/* Customized Placeholder Text */
.custom-search-input::placeholder {
    transform: translateY(2px); /* Adjust placeholder position */
    font-size: 20px; /* Size of placeholder text */
    color: #7b7d80; /* Placeholder text color */
}

/* Styled User-input Text */
.custom-search-input[value] {
    font-size: 20px; /* Size of user-input text */
    color: #7b7d80 !important; /* Text color of user-input */
}

/* Custom Search Button Design */
.custom-search-button {
    height: 40px; /* Set button height */
    padding: 10px; /* Padding inside button */
    background-color: transparent !important; /* Transparent background */
    color: gold !important; /* Text color */
    border-color: gold !important; /* Border color */
    margin-left: 20px; /* Add spacing */
    margin-right: 10px; /* Add spacing */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Button Style on Hover */
.custom-search-button:hover {
    background-color: gold !important; /* Gold background color on hover */
    color: #282828 !important; /* Dark text color on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Additional Button Text Style */
.custom-search-button-text {
    margin-top: -10px; /* Adjust vertical position */
    font-size: 30px; /* Font size of the button text */
}

/* Media Query for Mobile Layout */
@media (max-width: 768px) {
    .custom-search-form {
        flex-direction: column; /* Stack elements vertically */
        padding: 0; /* Remove padding */
    }
}
