/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap'); /* Import Anek Devanagari font with various weights */

/* Global Styles */
* {
  box-sizing: border-box; /* Apply border-box box model to all elements */
  font-family: "Anek Devanagari", sans-serif; /* Set the default font family for all elements to "Anek Devanagari" */
  font-size: xx-large; /* Set the default font size for all elements to xx-large */
}

/* Body Styles */
body {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* App Container Styles */
.App {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Set the flex direction to column */
  min-height: 100vh; /* Set minimum height of the container to 100% of viewport height */
  background-color: black; /* Set the background color of the container to black */
  color: white; /* Set the text color of the container to white */
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .App {
    padding: 0; /* Remove padding on mobile devices */
  }
}
